<style>
    #task {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

        #task form {
            width: 100%;
            padding: 5px;
            box-shadow: 2px 2px 5px #0C6291;
            border-radius: 10px;
        }

    #conteudo {
        width: 100%;
        padding: 5px;
    }

    h2 {
        margin-top: 1px;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 14pt;
    }

    #editar {
        background-color: #0C6291;
        color: #FBFEF9;
        margin-right: 4px;
        margin-top: 5px;
    }

    #finalizar {
        background-color: #297045;
        color: #FBFEF9;
        margin-left: 4px;
        margin-top: 5px;
    }

    #conteudo ul li {
        display: inline-block;
        margin: 4px;
    }

    #rowTarefa {
        /*box-shadow: 2px 2px 4px ;*/
        padding: 5px 2px 5px 2px;
    }
    /*-----------------------------------------------------------------------------*/

    .optionIcon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .inputValor {
        width: 50%%;
        padding: 4px 0px 4px 8px;
        margin: 2px 0;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
    }
    

</style>
<div class="container draggable" draggable="true" title="@tarefa.TarefaId"  @ondragstart="@(() => HandleDragStart(tarefa))" style="width:200px;height:100px;background:green;">
    

    <li style="width:100px;height:50px;background:red;">
        <!-- <p class="description">@tarefa.TarefaNome</p>
    <p class="last-updated"><small>Last Updated</small> @tarefa.TarefaDatahoraregisto.ToString("HH:mm.ss tt")</p>
    -->
        @tarefa.TarefaId
        cctrctrxcrxr
        <!-- <TarefaForm tarefa="@tarefa" OnValidSubmit="@Confirmar" /> -->
    </li>
</div>
@code{
    [Parameter]
    public Tarefa tarefa { get; set; }

    [CascadingParameter] 
    Projeto Container { get; set; }

    

    private async Task Confirmar()
    {
        await apiService.PutTarefaAsync(tarefa.TarefaId, tarefa);
    }

    private void HandleDragStart(Tarefa selectedTarefa)
    {
        Container.Payload = selectedTarefa;
    }
}





